# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Model weights (Large files should be ignored if not using LFS)
*.pth
*.h5
*.weights

# Distribution / packaging
dist/
build/
*.egg-info/

# Operating System Files
.DS_Store
Thumbs.db
